<!DOCTYPE html>
<html>
	<head>
		<title>微剑-你犀利的选择</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/WeChat3Platform/plug-in/jquery-easyui-1.4/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/WeChat3Platform/plug-in/jquery-easyui-1.4/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/WeChat3Platform/plug-in/jquery-easyui-1.4/demo/demo.css">
    <script type="text/javascript" src="/WeChat3Platform/plug-in/jquery-easyui-1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/WeChat3Platform/plug-in/jquery-easyui-1.4/jquery.easyui.min.js"></script>
   </head>
<body>
      <h2>正确使用编辑器</h2>
      <p>微剑-你犀利的选择</p>
      <div style="margin:20px 0;"></div>
      <div class="easyui-layout" style="width:700px;height:350px;">
        <div id="p" data-options="region:'west'" title="描述" style="width:30%;padding:10px">
            <p style="font-size:15px">哈哈！</p>
        </div>
        <div style="font-size:15px" data-options="region:'center'" title="详细">
           <ul>
	<li>很好很好</li>
	<li>测试编辑器的使用</li>
	<li>貌似挺好用的
	<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
		<tbody>
			<tr>
				<td>和谐社会</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>说你好看</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>四度空间</td>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</table>

	<p>哈哈！</p>
	</li>
</ul>

        </div>
    </div>
	
	
</body>
</html>